/****************** Globālas lietas *******************/

body {
	background-color: #f4f4f4;
	color: #555;
	font-family: Arial, Helvetica;
	font-size: 16px;
	line-height: 1.6em;
	margin: auto;
	width: 100%;
}


@media screen and (min-width:768px){
	body{
	background-color: #f4f4f4;
	color: #555;
	font-family: Arial, Helvetica;
	font-size: 16px;
	line-height: 1.6em;
	margin: auto;
	width: 80%;
	}
}


ul {
	list-style-type: none;
	padding: 0;
}


a {
	text-decoration: none;
}

/************************ Header lapas augšpuse logo un socialie tīkli ************/

header {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
	padding: 0;
}

 header ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

header a{
	color: #3b5998;
}

header h1{
	color:#ffa500;
}

.logo {
	margin: 0 auto;
	background-color: #555;
	width: 100%;
}

header h2{
	color: #555;
}

.container-social{
	margin: 0 auto;
}


.container-social ul{
	margin: 0;
}

.container-social li {
	padding: 0 8px;
}


@media screen and (min-width:768px){
	header{
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	}

	header h1 {
		text-decoration: underline;
	}

	.logo {
	margin: 0;
	background-color: #f4f4f4;
	width: auto;
}

	.container-social{
	margin:0;
}
}


/************ Soc ikonas header *****************************/



.fab {
	color:#555;
}

 .far {
   color:#555;
}

.fas {
	color:#555;
}




/* ******************* Navigācija ***********************/

nav ul {
	text-align: center;
}

nav li {
	background-color:#e9e9e9;
	margin: 1px;
	line-height: 2.4em;
	border-radius: 10px;
	}

nav a {
	display: block;
	color: #445;
	font-size: 20px;
}

nav a:hover {
	color: #000;
	background-color: #dcdcdc;
	border-radius: 10px;
}


@media screen and (min-width:768px){
	nav ul{
		display: flex;
		justify-content: center;
	}

	nav li{
		background-color:#f4f4f4;
		margin: 0px;
		line-height: 0em;
		border-radius: 0px;
		padding: 0 20px 0 20px;

	}

	.sakums {
		padding: 0 20px 0 0;
	}

	nav a {
	text-decoration: none;
	display: block;
	color: #555;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 15px;
	}

	nav a:hover {
		background-color:#f4f4f4;
		border-radius: 0px;
	}
	

	.container-1 {
		display: flex;
		justify-content: flex-start;
	}

	nav li {
		margin: 0;
	}

}

/***************** Cover video jeb galvenais baneris *********/

video {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 0 auto;
  		width: 100%;
  		height: auto;
	}

section{
	padding: 0;
}

source {
	display: inline-block;
	min-height: 300px;
}

/******************************Par mums ! Apraksts par mūsu uzņēmumu*********************/

.parmums-1{
	width: 80%;
	margin: auto;
	padding: 15px 0 15px 0;
}

.parmums-1 h1{
	text-align: center;
}


@media screen and (min-width:768px){
	.parmums-1 h1{
	text-align: left;
}

.parmums-1{
	width: 100%;
}

}


/* ************************* Pakalpojumu kastes ************ */

section .pakalpojumi {
	padding-top: 50px;
}

section .pakalpojumi h1 {
	text-align: center;
}

.pakalpojumi p {
	text-align: left;
	width: 80%;
	margin: auto;
	padding-bottom: 15px;
}

.box{
 flex: 1;
 text-align: center;
}

.box img {
	border-radius: 3px;
	padding: 5px;
}

@media (min-width: 768px){
	.container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
	}

	.container p{
padding: 0px 35px;
	}
}
