body {
	background-color: #f4f4f4;
	color: #555;
	font-family: Arial, Helvetica;
	font-size: 16px;
	line-height: 1.6em;
	margin: auto;
	margin-top: 50px;
	width: 80%;
}


.box{
 flex: 1;
 padding: 0rem 2rem 0rem 2rem ;
 text-align: center;
}


@media(min-width: 768px){
	.container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
}