.parmums-1 h1{
	text-align: center;
}

 .rekviziti{
  margin: 0 auto;
  line-height: 1.6em;
  width: 75%;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 80%;
        margin: 0 auto;
        padding: 0;
      }

@media (min-width: 768px) {
  .rekviziti{
   padding-top: 10px;
   margin: 0 auto;
   line-height: 1.5em;
   width: 95%;
 }
}
