/****************** Globālas lietas *******************/

body {
	background-color: #1d1e22;
	color: #d4d4dc;
	font-family: Arial, Helvetica;
	font-size: 16px;
	line-height: 1.6em;
	margin: auto;
	width: 100%;
}


@media screen and (min-width:768px){
	body{
	background-color: #1d1e22;
	color: #d4d4dc;
	font-family: Arial, Helvetica;
	font-size: 16px;
	line-height: 1.6em;
	margin: auto;
	width: 80%;
	}
}


ul {
	list-style-type: none;
	padding: 0;
}


a {
	text-decoration: none;
}

/************************ Header lapas augšpuse logo un socialie tīkli ************/

header {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
	padding: 0px;
	align-items: center;
}

 header ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

header a{
	color: #d4d4dc;
}

header h1{
	color:#d4d4dc;
}

.logo {
	margin: 0 auto;
	background-color: #1d1e22;
	width: 100%;
	padding-top: 10px;
}

header h2{
	color: #d4d4dc;
}

.container-social{
	margin: 0 auto;
}


.container-social ul{
	margin: 0;
}

.container-social li {
	padding: 0 8px;
}


#mailto {
	display: none;
}

@media screen and (min-width:768px){
	header{
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	}

	header h1 {
		text-decoration: underline;
	}

	.logo {
	margin: 0;
	background-color: #1d1e22;
	width: auto;
}

	.container-social{
	margin:0;
}

#mailto {
	display: flex;
}

}


/************ Soc ikonas header *****************************/



.fab {
	color:#fff;
}

 .far {
   color:#fff;
}

.fas {
	color:#fff;
}




/* ******************* Navigācija ********************/

/************ pirmais styls

nav ul {
	text-align: center;
}

nav li {
	background-color:#d4d4dc;
	margin: 1px;
	line-height: 2.4em;
	}

nav a {
	display: block;
	color: #1d1e22;
	font-size: 20px;
}

nav a:hover {
	color: #000;
	background-color: #fff;
}

************************************/


nav ul{
	display: flex;
	justify-content: flex-start;
	margin: 0 auto;
	padding: 0;
}

nav ul li{
	list-style: none;
	position: relative;
	padding: 10px 0;
	transition: 0.5s;
	box-sizing: border-box;
	border-right: 0px solid rgba(255,255,255,.2)
}

nav ul li a:hover{
	color: #feda6a;
}

nav ul li:last-child{
	border-right: none;
}

nav ul li a {
	text-decoration: none;
	padding: 0 20px;
	color: #d4d4dc;
}

/*****************Sub navigācija *************/

nav ul li ul {
	position: absolute;
	top: 45px;
	left: 0;
	background-color: #1d1e22;
	display: block;
	width: 200px;
	transition: 0.5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
}

nav ul li:hover ul{
	opacity: 1;
	visibility: visible;
}

nav ul li ul li {
	border-right: none;
	border-bottom: 1px solid rgba(255,255,255,.2)
}

.firstsub{
	border-top: 0px solid rgba(255,255,255,.2)
}

@media (max-width: 768px){
	nav ul{
		display: block;
		text-align: center;
	}

	nav ul li {
		display: block;
		padding: 5px 0;
		border-bottom: 1px solid rgba(255,255,255,.2)

	}

	nav ul li ul{
		width: 100%;
		top: 35px;
		z-index: 1;
	}

	.firstsub{
	border-top: 1px solid rgba(255,255,255,.2)
	}
}




/***************** Cover video jeb galvenais baneris *********/

video {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: auto;
  		width: 100%;
  		height: auto;
  		margin-left: 1px;
  		margin-right: 1px;
	}

#web {
	display: none;
}

#mobile{
	display: flex;
}




@media screen and (min-width: 415px){

	video{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 0 auto;
  		width: 100%;
  		height: auto;
  		border-radius: 3px;
  		z-index: 10;
	}

#web {
 display: flex;
}

#mobile {
	display: none;
}

#mailto {
	display: flex;
}

}


/******************************Par mums ! Apraksts par mūsu uzņēmumu*********************/

.parmums-1{
	width: 80%;
	margin: 0 auto;
	padding: 0;
}

.parmums-1 h1{
	text-align: center;
	background-color: rgba(122, 125, 144, 0.15);
	padding: 3px;
}


@media screen and (min-width:768px){
	.parmums-1 h1{
	text-align: left;
	background-color: rgba(122, 125, 144, 0.15);
	padding: 5px;
}

.parmums-1{
	width: 100%;
}

}


/* ************************* Pakalpojumu kastes ************ */

.container p{
	width: 80%;
	text-align: center;
	margin: auto;
}

.pakalpojumi-1 {
	width: 80%;
	margin: 0 auto;
}

.pakalpojumi-1 h1 {
	text-align: center;
	background-color: rgba(122, 125, 144, 0.15);
	padding: 3px;
}


.box{
 flex: 1;
 text-align: center;
 margin: 10px 0 0 0;
}

.box img {
	border: 3px solid rgba(122, 125, 144, 0.15);
	opacity: 0.9;
}


@media (min-width: 768px){
	.pakalpojumi-1 {
	padding-top: 0px;
	width: 100%;
	margin: 0;
}

	.container{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
	}

.pakalpojumi-1 h1{
	text-align: left;
	background-color: rgba(122, 125, 144, 0.15);
	padding: 5px;
}

	.container p{
padding: 0px 35px;
	}
}



/*********** Footer , lapas pēda ***************/

footer {
	border-top: 1px solid #d4d4dc;
	margin-top: 30px;
}

footer p {
	text-align: center;
	margin: 10px;
	padding: 8px;
}

@media screen and (min-width:768px){
	footer{
	border-top: 1px solid #d4d4dc;
	margin-top: 50px;
	}

	footer p {
	text-align: center;
	margin: 15px;
	padding: 10px;
	}
}
