body {
    margin: 0 auto;
    font-family: Arial, Halvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

/*Global**/
.conteiner{
  width: 80%;
  margin:auto;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li{
  padding: 0;
  margin: 0;
}

p {

font-size: 16px;

}

.conteiner #linija {
  border-bottom: #a7d129;
}

.ikona{
  width: 22px;
  height: 22px;
}


/*Heder*/

header {
  background: #33343C;
  color: #ffffff;
  padding-top: 10px;
  min-height: 70px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: #a7d129 1px solid;
  z-index: +1;
}

header a{
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}


header li {
  float: center;
  display: inline;
  padding: 0px 20px 0 20px;

}

header ul {
  text-align: center;
  border-top: #a7d129 1px solid;
  font-size: 35px;
  padding-bottom:6px;

}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

#branding{
  margin-top: 15px;
}

header nav{
  float: center;
  padding-top: 50px;
  margin: 20px 0px 0px 0;
}

nav a:hover{
  color: #a7d129;
  text-decoration: none;
  font-size: 20px;
}


.kontaktujosla{
  float: right;
  margin: 11px 0 0 0;
}


.kontaktujosla h1 {
  font-family: Arial, Halvetica, sans-serif;
  font-size: 20px;
  font-weight: lighter;
}


.ikonujosla{
  float: right;
  margin: 23px 5px 0 15px;
}

header nav #valodas {
  float: right;
}


/* Cover ***/
video{
  width: 100%;
  height: auto;
  padding-top: 128px;
}

.centrs li{
  background-color: #33343C;
  color: #ffffff;
  margin: 0px 0 0 0px ;
  padding: 0px 0 0px 10px;
  line-height: 35px;
}


#padomi h1 {
font-size: 21px;
}

#padomi{
  text-indent: 2%;
  letter-spacing: 0.4px;

}


/*Boxes ***/

#boxes {
  margin: 20px;
}

#boxes .box{
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}
#boxes .box img{
  border-radius: 5px;
  width: 80%;
}

.box h1 {
  text-transform: uppercase;
  font-size: 16px;
  color: #273a60;
}

.box p {
  text-indent: 10%;
  text-align: left;
  letter-spacing: 0.4px;
  line-height: 1.6em;
}

footer{
  padding: 5px;
  margin-top: 10px;
  color: #ffffff;
  background-color: #33343C;
  text-align: center;
}
