body{
  font: sans-serif;
  color: rgba(0,0,0,.7);
  background: linear-gradient(to right, rgb(60, 196, 63), rgb(255, 255, 0));
}


h1{
color: rgba(0,0,0,.7);
}


h3{
  color: rgba(0,0,0,.7);
  text-transform: none;
  font-size: 12px;
  margin: 0;
  padding: 0 0 0 10px;
}

figure{
  margin: 0 auto;
  text-align: center;
}
