body{
  font: sans-serif;
  color: rgba(0,0,0,.7);
  background: rgb(38, 141, 217);
}


h1{
color: rgba(0,0,0,.7);
}


h3{
  color: rgba(0,0,0,.7);
  text-transform: none;
  font-size: 12px;
  margin: 0;
  padding: 0 0 0 10px;
}

